@import "var", "mixin";

/* Header - Menu bar*/
.header{
    @include flex-b;
    background: $white;
    position: relative;

    &-menu{
        display: flex;
        align-items: center;

        &-burger{
            background: $accent;
            font-size: 16px;
            line-height: 16px;
            color: #fff; 
            display: inline-block;
            margin-right: 48px;
            padding: 21px 20px;
            @include transition;

            &:hover{
                cursor: pointer;
                @include darken($accent, 20%);
            }
        }

        &-nav{
            font: 16px/18px $font;
            
            a{
                font: 16px/18px $font;
                color: $text;
                margin-left: 44px;
                @include transition;

                &:hover{
                    @include hover;
                }
                &.active{
                    color: $accent;
                }
            
                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }

    &-info{
        display: flex;
        align-items: center;

        li{
            font-size: 16px;
            line-height: 16px;
            color: $grey;
            border-left: 1px solid #dde2e4;
            padding-top: 12px;
            padding-bottom: 12px;
            
            &:first-child{
                border-left: none;
            }
            &:nth-child(2){
                padding-left: 10px;
                padding-right: 10px;
            }
            >span{
                padding: 10px 22px;
                display: inline-block;
                &:hover{
                    @include hover;
                }
            }

            a{
                display: inline-block;
                color: $grey;
                padding: 9px 10px;
                &:hover{
                    @include hover;
                }
            }
        }
    }
}



@media only screen and (max-width: 992px){
    .header{
        &-menu{
            &-burger{
                margin-right: 10px;
            }
            &-nav{
                display: none;
                position: absolute;
                top: 60px;
                left: 0;
                z-index: 3;
                background: $white;
                width: 100%;
                text-align: center;
                border-top: 1px solid $grey;
                border-bottom: 1px solid $grey;
                padding: 10px 0;

                a{
                    margin-left: 0;
                    display: block;
                    padding: 10px;
                    width: 100%;
                }

                &.openMenu{
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            
        }
    }
}
@media only screen and (max-width: 576px){
    .header-menu-nav{
        width: 100%;
        max-width: 100%;
    }
}