@import "var";

@mixin flex-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin hover {
    color: $accent;
    cursor: pointer;
}

@mixin transition {
    transition: all 0.3s ease-in-out;
}

@mixin width ($size) {
    width: 100%;
    max-width: $size;
}
@mixin darken ($color, $op) {
    background: darken($color, $op);
}